body
{
    text-align: center ;
    margin:0;
}

h1
{
    color: #66BFBF;
    font-size: 3rem;
    width:10%;
    margin:0px auto 0 auto;
    display:block;
    font-family: 'Righteous', cursive;
}

h2
{
    color: #66BFBF;
    font-weight: normal;
    font-size:2rem;
    font-family: 'Mate SC', serif;
}

h3
{
    color:#11999E;
}

a
{
    color:#11999E;
}

.top-container
{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
}


.txt
{
    text-decoration: underline;
}

.intro
{
    width:30%;
    margin:auto;
}

p
{
    line-height: 2;
}

hr
{
    background-color:white;
    border-style:dotted none none none;
    border-color: grey;
    border-width: 5px;
    height:0px;
    width: 5%;
    margin:100px auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }

.courses-row
{
    margin:100px auto 100px auto;
    width:50%;
    text-align: left;
    line-height: 2;
}

.row-img
{
    width: 25%;
    float:left;
    margin-right: 20px;;
}
   
.profile-img
{
    width:20%;
}

.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.footer-link
{
    line-height: 2;
    text-decoration:solid #11999E;
    margin:10px 20px;
}

.footer-link:hover
{
    color:white;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  

.copyright
{
    color:#EAF6F6;
}

.middle-container
{
    margin:100px 0;
}